:80 {
    # Serve static files from the /static directory at the root
    root * /srv
    file_server

    # Reverse proxy requests to /streamlit to the streamlit service
    handle /streamlit* {
        reverse_proxy streamlit:8501
    }

    # Reverse proxy requests to /api to the api service
    handle /api* {
        uri strip_prefix /api
        reverse_proxy api:8000
    }

    # Logging
    log {
        output stdout
    }
}
